<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


        <h1 className="head1"> Game Quit </h1>

        <h3 class="heading3" id='pred'>{{ points }}</h3>

<style>

    h1 {
    background-color : black;
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 300%;
    }

    h3 {
    background-color : black;
    color: white;
    text-align: center;
    font-family: courier;
    font-size: 200%;
    }

    body {
    background-color : #4D5656
    }

</style>

</body>
</html>